body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*Queremos que la imagen encaje bien y no se repita */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container{
    background-color: rgba(238, 231, 231, 0.842);
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: 100%;
}

.container h1{
    color: rgba(63, 101, 226, 0.774);
    border-top: 6px solid rgba(63, 101, 226, 0.774);
    padding-top: 8px;
    text-align: center;
}

.container .noticia{
    padding: 4px;
    text-align: center;
}
/* aqui editamos la tabla de la pagina */
.container table{
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
}

.container table caption{
    font-style: italic;
    font-size: 19px;
}

.container table td{
    border-bottom: 1px solid gray;
}

.noticia p{
    padding:auto;
    margin: auto;
}

.noticias h2{
    text-align: center;
    text-decoration: none;
}

.noticia h3{
    text-decoration: underline;
}

.noticia video{
    width: 40%;
    padding: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/* el apartado actuara como un menu que podemos desplegar */
#boton{
    display: none;
}

label:hover{
    cursor: pointer;
}
/* asi se vera siempre el label */
label{
    position: fixed;
    top: 2%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.267);
    z-index: 1;
    width: 45px;
    height: 45px;
    border-left: 1px solid #fff;
}

label img{
    /* la imagen se ajusta a la etiqueta */
    width: inherit;
    height: inherit;
}

.apartado{
    background-color: rgba(0, 0, 0, 0.267);
    position: fixed; /* necesitamos esta posicion para que cuando este fuera de los margenes no se vea */
    height: 100%;
    width: 15%;
    top: 0px;
    right: 15px;
    margin-right: -70%;
    transition: all 0.2s;
}

.menu ul{
    list-style: none;
    margin: auto;
    flex-direction: column;
    margin: auto;
    margin-top: 35%;
}

.menu li{
    border-top: 1px solid #fff;
    padding: 5px;;
}

.menu a{
    color: #f5f5f5;
}

.menu li:hover{
    background-color: rgba(124, 124, 124, 0.911);
    color: #fff;
    transition: 0.4s;
}

/* cada vez que le damos al boton aparece */

#boton:checked ~ .apartado{
    margin: 0%;
}

/* Con media podemos definir algunos cambios cuando se cumple los requisitos, lo usamos para que la página sea responsive */
@media (max-width:700px){
    label{
        right: 2%;
        width: 30px;
        height: 30px;
        position: fixed;
    }

    .apartado{
        width: 40%;
        margin-right: -150%;
    }

    .apartado ul{
        padding: 0;
    }

    .noticia video{
        width: 100%;
        margin-top: 5px;
    }
}










